<%- include header %>
<form method="post">

	<div class="form-group">
		<input type="text" class="form-control" name="title" placeholder="标题">
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="tag" placeholder="标签">
	</div>

	<textarea class="form-control" name="content" placeholder="文章内容"></textarea>

	<button type="submit" class="btn btn-default">发表</button>
</form>
<%- include footer %>